[flake8]
max-line-length = 120
extend-ignore = E203
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,migrations,.venv,venv
per-file-ignores =
    orders/serializers.py:E501
    users/utils.py:E501
    services/email/templates.py:E501
    services/email/notifications.py:E501
